@{
    ViewData["Title"] = "Jake Log";
}

<h1>Jake Game Log</h1>

@model IEnumerable<ApexStatTracker.Models.Jake>


<table class="content-table">
    <thead>
        <tr>
            <th>
                Game Number
            </th>
            <th>
                &nbsp;&nbsp; Damage
            </th>
            <th>
                &nbsp;&nbsp; Kills
            </th>
            <th>
                &nbsp;&nbsp;Revives Given
            </th>
            <th>
                &nbsp;&nbsp; Respawns
            </th>
            <th>
                &nbsp;&nbsp; Times Revived 
            </th>
            <th>
                &nbsp;&nbsp;Game Score
            </th>
            <th></th>
        </tr>
    <tbody>
        @foreach (var game in Model)
        {
            <tr>
                <td>@game.GameNumber</td>
                <td> &nbsp;&nbsp;@game.Damage</td>
                <td> &nbsp;&nbsp;@game.Kills</td>
                <td> &nbsp;&nbsp;@game.Revives</td>
                <td> &nbsp;&nbsp;@game.Respawns</td>
                <td> &nbsp;&nbsp;@game.Revived</td>
                <td> &nbsp;&nbsp;@game.GameScore</td>
            </tr>
        }
    </tbody>
    </thead>
</table>


<style>
    @@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

    h1 {
        text-align: center;
    }

    .content-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 1.6rem;
        min-width: 600px;
        border-radius: 10px 12px 0 0;
        box-shadow: 0 0 20px rgba(0,0,0, 0.15);
        background-color: chocolate;
        color: white;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        line-height: 1.7;
        box-shadow: 10px 10px 5px grey;
        text-align: center;
    }

        .content-table thead tr {
            background-color: #f3f3f3;
            color: chocolate;
            text-align: center;
            font-weight: bolder;
        }

        .content-table th,
        content.content-table td {
            padding: 10px 1px;
        }

        .content-table tbody tr {
            border-bottom: 1px solid #dddddd
        }

            /*.content-table tbody tr:nth-of-type(even) {
                background-color: #f3f3f3;
                color: black;
            }*/

            /*.content-table tbody tr:last-of-type {
                border-bottom: 5px solid chocolate;
            }*/

            .content-table tbody tr.active row {
                font-weight: bold;
                color: coral;
            }
</style>